p{
    color:  rgb(110, 89, 81);
}

#heba{ 
    font-stretch: ultra-condensed;
    

  }
 

  .colorblack{
    color:rgb(183, 190, 162);
  }

  #font {
     
    color:rgb(167, 142, 206);
    position: relative;
  
    border: 1px solid rgb(185, 185, 218);
    width: 100;
    height: 100px;

  }